
{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends":[
    "plugin:@typescript-eslint/recommended",
    "react-app",
    "plugin:prettier/recommended",
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    // "@typescript-eslint/rule-name": "error"
  }
}